*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3{
  color: #540723;
  text-align: center;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 0px;
}
#topRow {
  border-top: 1px solid black;
  /* border: none; */
  border-top-right-radius:22px;
  border-top-left-radius: 22px;
}
#bottomRow{
  border-bottom: 1px solid black;
  /* border: none; */
  border-bottom-right-radius:22px;
  border-bottom-left-radius: 22px;   
}
.container{
  /* background-color: #41638f; */
  width: 90vw;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  /* border: 1px solid black; */
  /* background: red; */
}
.row{
  display: flex;
  width: 70%;
  height: 28%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color:#41638fdc;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.container .row button{
height: 65%;
width: 20%;
margin: 20px;
/* padding: 15px; */
margin-right: auto;
margin-left:auto;
/* padding: 20px; */
text-align: center;
background-color:#adb7e0;
color: black;
font-size: 12px;
border: 1px solid black;
font-weight: bold;
/* border: none;  */
border-radius: 29px;
}
#result{
  /* margin: 8px; */
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  
}

.container .row button:hover{
  background:#adb7e0af;
}
button:active{
  background-color: #adb7e0;
  box-shadow: 0 3px #adb7e0;
  transform: translateY(1px);
}
#equal, #clear1{
  width: 35%;
  background:#971a44e0;
}
#equal:hover , #clear1:hover{
  background-color: #971a49;
}
.container input{
  margin-top: 22px;
  margin-left: 10px;
  margin-right: 10px;
  /* margin: 9px; */
  width: 95%;
  border: 1px solid black;
  /* border: none; */
  border-radius: 8px;
}

@media (min-width:500px) and (max-width:730px) {
  .container{
    width: 90vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    /* border: 1px solid black; */
    /* background: red; */
  }
  .row{
    display: flex;
    width: 48%;
    height: 23%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color:#41638fdc;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.container .row button{
  height: 66%;
  width: 19%;
  margin: 20px;
  /* padding: 15px; */
  margin-right: auto;
  margin-left:auto;
  /* padding: 20px; */
  text-align: center;
  background-color:#adb7e0;
  color: black;
  font-size: 18px;
  border: 1px solid black;
  font-weight: bold;
  /* border: none;  */
  border-radius: 29px;
}
#result{
  /* margin: 8px; */
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  
}
}

/* tablet */
@media (min-width:730px) and (max-width:992px) {
  .container{
    width: 75vw;
    height: 48vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    /* border: 1px solid black; */
    /* background: red; */
  }
  .row{
    display: flex;
    width: 48%;
    height: 23%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color:#41638fdc;
    border-left: 1px solid black;
  border-right: 1px solid black;
}
.container .row button{
  height: 64%;
  width:18%;
  margin: 20px;
  padding: 15px;
  margin-right: auto;
  margin-left:auto;
  /* padding: 20px; */
  text-align: center;
  background-color:#adb7e0;
  color: black;
  font-size: 18px;
  border: 1px solid black;
  font-weight: bold;
  /* border: none;  */
  border-radius: 29px;
}
#result{
  /* margin: 8px; */
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  
}
}
/* desktop */
@media (min-width:992px) {
  h3{
    color: #540723;
    text-align: center;
    font-weight: bolder;
    /* margin-top: 100px; */
    margin-bottom: 0px;
    font-size: 30px;
  }
  .container{
    width: 60vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    /* border: 1px solid black; */
    /* background: red; */
    /* background-color: #540723; */
  }
  .row{
    display: flex;
    width: 40%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color:#41638fdc;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.container .row button{
  height: 70%;
  width: 18%;
  margin: 20px;
  padding: 15px;
  margin-right: auto;
  margin-left:auto;
  /* padding: 20px; */
  text-align: center;
  background-color:#adb7e0;
  color: black;
  font-size: 18px;
  border: 1px solid black;
  font-weight: bold;
  /* border: none;  */
  border-radius: 29px;
}
#result{
  /* margin: 8px; */
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  
}
}
